<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="general.Suite">

  <test  name="Test">  
    <classes>
      <class name="PackMOCK.General">
        <methods>
           <include name = "testA"/>
           <exclude name = "testB"/>
        </methods>
      </class>
      <class name="PackMOCK.Genral123"/> 
    </classes> 
  </test> <!-- Test -->

</suite> <!-- general.Suite -->
